<div class="input-container">
    <label for={{forAndName}} class={{labelClass}}>{{labelText}}</label>
    <input type={{inputType}} name={{forAndName}} class={{InputClass}} value="TestPassword555"/>
    <label class="error">sfdsdf</label>
</div>
