<div class="input-container">
    <label for={{forAndName}} class={{labelClass}}>{{labelText}}</label>
    <input type={{inputType}} name={{forAndName}} class={{InputClass}} value={{value}}>
    <label class="error">Error message</label>
</div>
