<main class="container authorization">
    <form class="form">
        <h5 class="form__header">Вход</h5>
        <section class="form__inputs-container">
            {{{input}}}
            {{{input2}}}
        </section>
        {{{button}}}
        <a class="form__link" href={{btnHref}}>{{linkText}}</a>
    </form>
</main>
